html{
    height: 100%;
}
body{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0 20px;
    text-align: left;
    vertical-align: middle;
    position: relative;
    transition: background 1s;
}
.bg-first{
    background: url(../images/2.jpg) no-repeat 100%;
} 
/* body.bg-second{
    background-image: url(../images/2.jpg) no-repeat 100%;
}
body.bg-third{
    background-image: url(../images/3.jpg) no-repeat 100%;
}
body.bg-fourth{
    background-image: url(../images/4.jpg) no-repeat 100%;
} */
.page__heading{
    font-size: 35px;
    color: rgb(11, 20, 27);
    text-transform: uppercase;
    margin: 100px 580px 0 0;
}
.cookies-window{
    display: none;
    position: absolute;
    bottom: 160px;
    left: 50%;
    margin-left: -500px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 100px;
    background-color: rgba(196, 224, 240, 0.568);
    padding: 0 30px;
    box-sizing: border-box;
}
.cookies-window_shown{
    display: flex;
}
.cookies-window__text{
    color: rgb(11, 20, 27);
    font-size: 14px;
    width: 800px;
}
.cookies-window__btn{
    width: 100px;
    height: 30px;
    background-color: ghostwhite;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}